*{
    box-sizing: border-box;    
}

.header{
    padding: 15px;
    text-align: center;
    background-color: #f1f1f1;
}

.menu{
    float:left;
    width: 20%;
    background-color: white;
}

.menu_item{
    padding: 8px;
    margin-top: 7px;
    border-bottom: 1px solid #f1f1f1;
}

.main{
    float: left;
    width: 80%;
    padding: 20px;
    background-color: white;
}

.footer{
    padding: 10px;
    margin-top: 7px;
    font-size: 12px;
    text-align: center;
    overflow: auto;
    background-color: #f1f1f1;
}

.carousel_item img{

    width: 800px;
    height: 530px;
}